<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 PAGE</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
<main>
    {{>header}}
    <p>{{errorMesage}}</p>
    {{>footer}}
</main>

</body>
</html>